<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHUKA E-Commerce Website</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>CHUKA E-Commerce Website</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/checkout">Checkout</a>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <p>&copy; 2024 CHUKA E-Commerce Website</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>