<main>
  <h2>Our Products</h2>
  <div class="products">
    <% for( let i = 0; i < products.length; i++ ) { %> <%-
    include('./partials/products/Card', {product: products[i]}) %> <% } %>
  </div>
</main>

<style>
  .products {
    display: flex;
    gap: 1rem;
  }
</style>
