<link rel="stylesheet" href="/styles/product-card.css" />
<div class="img-card iCard-style1">
  <div class="card-content">
    <div class="card-image">
      <span class="card-title"><%= product.title %></span>
      <img src="<%= product.image %>" />
    </div>

    <div class="card-text">
      <p><%= product.description %></p>
      <p><b>Price: </b>&pound;<%= product.price %></p>
    </div>
  </div>

  <div class="card-link">
    <a href="#" title="Read Full"><span>Add To Cart</span></a>
  </div>
</div>
