<header>
  <h1>CHUKA E-Commerce Website</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/cart">Cart</a>
    <a href="/checkout">Checkout</a>
  </nav>
</header>
